/Arena Breakout Infinite.url
/desktop.ini
/Discord.lnk
/Dungeon Crusher Soul Hunters.url
/Euro Truck Simulator 2.url
/S.T.A.L.K.E.R. 2 Heart of Chornobyl.url
/Sid Meier's Civilization VI.url
/Tanki Online.lnk
/Ubisoft Connect.lnk
/Wallpaper Engine.url
/Браузер Opera GX.lnk
/Хаус Флиппер.url